body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-image: url(../img/bg.jpg);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 50000;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
    width: 100%;
    background-color: #fff;
    display: block;
}

.navbar .navcon {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.navbar .navcon a.logo {
    margin-right: 30px;
    text-decoration: none;
}

.navbar .navcon a.navrbd {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: #353535;
    font-weight: 400;
    padding: 0 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
}

.navbar .navcon a.nav {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: #353535;
    font-weight: 400;
    padding: 0 15px;
    border-right: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
}

.navbar .navcon .navsignin {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: #2d6da3;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.navbar .navcon .navsignout {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-weight: 400;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    right: 0;
    position: absolute;
}

.bgpadding {
    min-height: calc(100vh - 50px);
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #e5e7ea;
    padding: 10px 0 16px;
    display: block;
}

.widthcontrol {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 960px;
    margin: 0 auto;
    display: block;
}

.logocon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 16px;
}

.logocon a {
    text-decoration: none;
}

.colcon {
    min-height: 100%;
}

.colcon .contentcol {
    order: 2;
    flex: 1 1 auto;
    padding: 3px;
    margin: -3px;
    overflow: visible
}

.fund_header {
    height: 100px;
    margin-bottom: 15px;
}

.fund_logo {
    width: 120px;
    float: left;
}

.fund_title {
    width: 530px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.fund_code {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 80%;
}

.fund_name {
    font-size: 18px;
    line-height: 1.3;
}

.fund_more {
    width: 260px;
    float: left;
}

.fund_risk {
    margin-top: 5px;
    text-align: right;
    font-size: 25px;
}

.buttoncon {
    height: 50px;
}

.fund_button {
    width: 120px; 
    float: left;
}

.fund_button_row { 
    float: right;
}

.fund_body {
    height: 60px;
    margin-bottom: 10px;
}

.fund_navcon {
    width: 300px;
    float: left;
    text-align: center
}

.fund_navhead {
    font-size: 25px;
    margin-bottom: 5px;
}

.fund_navbody {
    font-size: 18px;
}

.fund_navchangecon {
    width: 480px;
    float: left;
    text-align: center;
}

.fund_navcbath {
    width: 238px;
    font-size: 18px;
    border-right: 2px solid black;
    float: left;
}

.fund_navcperc {
    width: 238px;
    font-size: 18px;
    float: left;
}

.fund_navupdatecon {
    width: 160px;
    float: left;
    text-align: right;
    font-size: 14px;
}

.fund_graphcon {
    margin-bottom: 10px;
}

.fund_detailcon {
    font-size: 16px;
    margin-bottom: 10px;
}

.fund_detailleft {
    width: 460px;
    float: left;
}

.fund_detailright {
    width: 460px;
    float: left;
}

.firmcon {
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.firmcon_bot {
    height: 50px;
    margin-bottom: 5px;
}

.firmpic {
    float: left;
}

.firmname {
    float: left;
    margin-left: 20px;
}

.firmname .full {
    font-size: 14px;
}

.fundcon {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.fundcon_bot {
    margin-top: 20px;
    margin-bottom: 5px;
}

.fundcon .head {
    height: 60px;
}

.fundcon .body {
    height: 60px;
}

.fundcon_bot .head {
    height: 60px;
}

.fundcon_bot .body {
    height: 60px;
}

.fundpic {
    float: left;
    height: 40px;
    width: 120px;
    background-color: #2d6da3;
}

.fundname {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 550px;
}

.fundname .code {
    font-size: 20px;
}

.fundname .type {
    font-size: 16px;
}

.fundnav {
    width: 250px;
    float: left;
}

.fundnav .nav {
    font-size: 20px;
}

.fundnav .update {
    text-align: right;
    font-size: 14px;
}

.fundpre {
    width: 110px;
    float: left;
    font-size: 16px;
    text-align: center;
}

#planresult {
    border-collapse: collapse;
    width: 100%;
}

#planresult td, #planresult th {
    border: 1px solid #ddd;
    padding: 8px;
}

#planresult tr:hover {background-color: #ddd;}

#planresult th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d6da3;
    color: white;
}

.planfundresult .fund .pic {
    float: left; 
}

.planfundresult .fund .name {
    float: left;
    margin-left: 20px;
}

#compfund {
    border-collapse: collapse;
    width: 100%;
}

#compfund td, #compfund th {
    border: 1px solid #ddd;
    padding: 8px;
}

#compfund tr:hover {background-color: #ddd;}

#compfund th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d6da3;
    color: white;
}

footer {
    font-size: 15px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

footer .widthcontrol_footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 960px;
    margin: 0 auto;
}

/* Customize the label (the container) */
.checkcon {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    height: 40px;
    width: 125px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkcon input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.checkcon:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcon input:checked ~ .checkmark {
    background-color: #2d6da3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcon input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcon .checkmark:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2d6da3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Center the logo and position the close button */
.logocontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.signup {
    color: #2d6da3;
    cursor: pointer;
}

span.psw {
    float: right;
}

span.psw a {
    text-decoration: none;
    color: #2d6da3;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 480px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* collapsible */
.collapsible {
    background-color: #2d6da3;
    color: white;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #1f5079;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

div span .error {
    color: red;
}